.btn-donate {
    --clr-font-main: #fff;
    --btn-bg-1:  #ce3072; 
    --btn-bg-2: #414358;
    --btn-bg-color: #353749; 
    --radii: 0.3em;
    cursor: pointer;
    padding: 0.4em; 
    min-width: 300px;
    min-height: 30px;
    font-size: var(--size, 1.4rem);
    font-weight: 600;
    font-family: monospace;
    transition: 0.5s;
    background-size: 280% auto;
    background-image: linear-gradient(
      325deg,
      var(--btn-bg-2) 0%,
      var(--btn-bg-1) 55%,
      var(--btn-bg-2) 92%
    );
    border: none;
    border-radius: var(--radii);
    color: var(--clr-font-main);
    box-shadow:
      0px 0px 30px rgba(255, 71, 196, 0.2),
      0px 5px 5px -1px rgba(233, 58, 180, 0.2),
      inset 4px 3px 6px rgba(255, 175, 230, 0.4),
      inset -4px -4px 6px rgba(216, 19, 174, 0.3);
  }
  
  .btn-donate:hover {
    background-position: right top;
  }
  
  .btn-donate:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow:
      0 0 0 1.5px var(--btn-bg-color),
      0 0 0 3.5px var(--btn-bg-1);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .btn-donate {
      transition: linear;
    }
  }